In [9]:
import pandas as pd

d = {
    'Mouse': [150, 200, 300, 400],
    'Keyboard': [180, 200, 190, 300],
    'Scanner': [200, 280, 330, 450]
}

index = ['Jan', 'Feb', 'March', 'April']
df = pd.DataFrame(d, index=index)
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [12]:
#Write code to access data of Mouse and Scanner columns.

print(df[["Mouse","Scanner"]])

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [14]:
#Write code to access data of the Keyboard column using dot notation and column name.

print(df.Keyboard)

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [17]:
# Write code to access data of scanners using loc[].
scanner_data = df.loc[:, 'Scanner']

print(scanner_data)

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [29]:
# Write code to access data of all columns where mouse data is more than 200.
data=df[df["Mouse"]>200]
print(data)

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [31]:
# Write code to access columns using 0 and 2.
df.iloc[:,0:2]

       Mouse  Keyboard
Jan      150       180
Feb      200       200
March    300       190
April    400       300

In [41]:
# Write code to access data of rows of jan and march for scanner and keyboard
df.iloc[0:3,1:3]
df.loc[['Jan','March'],['Scanner','Keyboard']]

       Scanner  Keyboard
Jan        200       180
March      330       190

In [ ]:
[]