In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#Import the dataset and read the file
path=r"C:\Users\Sonal\Downloads\adult - adult.csv"
data=pd.read_csv(path)

In [3]:
#display the dataframe
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
#describe the summary of dataset
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
#Drop the unnecessary columns
data.drop(["capital-loss"],axis=1,inplace=True)

In [6]:
#Display data after dropping columns
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,40,Cuba,<=50K

In [7]:
#Finding data types of indiviual columns
data.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

# How many men and women (sex feature) are represented in this dataset?

In [8]:
data["gender"].value_counts()

Male      21790
Female    10771
Name: gender, dtype: int64

# What is the average age (age feature) of women?

In [9]:
average_age_women=data[data["gender"]=='Female']['age'].mean()
average_age_women

36.85823043357163

In [10]:
# Replace the missing values
data["native-country"].replace('?',np.nan,inplace=True)

In [11]:
#data["native-country"].value_counts()

# What is the percentage of German citizens (native-country feature)?

In [12]:
sum_of_german=(data["native-country"]=='Germany').sum()
Total_citizen=len(data)

percentage_of_German=(sum_of_german/Total_citizen) * 100

percentage_of_German

0.42074874850281013

# What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [13]:
#Displaying dataset
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,40,Cuba,<=50K

In [14]:
#Calculating the mean
age_greater_50K=data[data['income']=='>50K']
avg_age=age_greater_50K['age'].mean()
avg_age

44.24984058155847

In [15]:
#Calculating the standard deviation
std_age=age_greater_50K['age'].std()
std_age

10.51902771985177

#  Is it true that people who earn more than 50K have at least a high school education? 
# (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [16]:
high_salary_education=data[data['income']=='>50K']['education']
has_high_school_education = high_salary_education.isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()


if has_high_school_education:
    print("People who earn more than 50K have at least a high school education.")
else:
    print("Not all people who earn more than 50K have at least a high school education.")

Not all people who earn more than 50K have at least a high school education.

# Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe().

In [17]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,40,Cuba,<=50K

In [18]:
# Group by race and gender, and calculate age statistics using describe()
age_statistics = data.groupby(['race', 'gender'])['age'].describe()
print(age_statistics)

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               gender
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

#  Find the maximum age of men of Amer-Indian-Eskimo race.

In [19]:
max_age_ame_indian_eskimo_men = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['gender'] == 'Male')]['age'].max()
max_age_ame_indian_eskimo_men

82

# Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [20]:
data['marital-status'].value_counts()
# data.head()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [21]:
# Create a new column 'marital-status-group' to categorize individuals as married or single
data['marital-status-group'] = data['marital-status'].apply(lambda status: 'Married' if status.startswith('Married') else 'Single')

In [22]:
# Group by 'marital-status-group' and calculate the proportion of individuals earning more than 50K
proportion_earning_high = data.groupby('marital-status-group')['income'].apply(lambda x: (x == '>50K').mean())

# Compare the proportions
if proportion_earning_high['Married'] > proportion_earning_high['Single']:
    print("The proportion of those who earn more than 50K is greater among married men.")
else:
    print("The proportion of those who earn more than 50K is greater among single men.")

The proportion of those who earn more than 50K is greater among married men.

#  What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [23]:
max_hours_per_week=data['hours-per-week'].max()
print("Maximum hours per week:", max_hours_per_week)

Maximum hours per week: 99

In [24]:
# Count the number of people working such hours
num_people_max_hours = (data['hours-per-week'] == max_hours_per_week).sum()


print("Number of people working such hours:", num_people_max_hours)

Number of people working such hours: 85

In [25]:
# Calculate the percentage of those who earn more than 50K among them
percentage_earning_high = (data[(data['hours-per-week'] == max_hours_per_week) & (data['income'] == '>50K')].shape[0] / num_people_max_hours) * 100

print("Percentage of those who earn more than 50K among them:", percentage_earning_high)

Percentage of those who earn more than 50K among them: 29.411764705882355

# Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [26]:
# avg_hours_per_week=data['hours-per-week'].mean()
# print("avg_hours_per_week:" , avg_hours_per_week)

In [27]:
# Group by salary and native-country 
avg_hours_per_week = data.groupby(['income', 'native-country'])['hours-per-week'].mean()
print("avg_hours_per_week:" , avg_hours_per_week)

avg_hours_per_week: income  native-country
<=50K   Cambodia           41.416667
        Canada             37.914634
        China              37.381818
        Columbia           38.684211
        Cuba               37.985714
                             ...
>50K    Thailand           58.333333
        Trinadad&Tobago    40.000000
        United-States      45.505369
        Vietnam            39.200000
        Yugoslavia         49.500000
Name: hours-per-week, Length: 80, dtype: float64

In [28]:
# Filter the data for Japan
japan_data = data[data['native-country'] == 'Japan']
average_hours_per_week=japan_data.groupby(['income'])['hours-per-week'].mean()
average_hours_per_week

income
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64

# Find out the total number of hours worked and mean salary as per different occupations.

In [30]:
# Convert income values to numeric (assuming it represents the salary)
data['income'] = data['income'].replace({'<=50K': 0, '>50K': 1}).astype(int)

In [31]:
# Calculate the total number of hours worked and mean salary per occupation
occupation_stats = data.groupby('occupation').agg({'hours-per-week': 'sum', 'income': 'mean'})

print(occupation_stats)

                   hours-per-week    income
occupation
?                           58803  0.103635
Adm-clerical               141595  0.134483
Armed-Forces                  366  0.111111
Craft-repair               173405  0.226641
Exec-managerial            182920  0.484014
Farming-fishing             46708  0.115694
Handlers-cleaners           51988  0.062774
Machine-op-inspct           81593  0.124875
Other-service              114342  0.041578
Priv-house-serv              4900  0.006711
Prof-specialty             175481  0.449034
Protective-serv             27823  0.325116
Sales                      148851  0.269315
Tech-support                36593  0.304957
Transport-moving            71316  0.200376